<!doctype HTML>
<head>
<title>Private Home</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<h1 align="center">Welcome to Flack</h1>
<div class="container" style="width: 100%; align-content:center;">
  <form method="POST">
    <div class="form-group">
      <label for="user">User Name</label>
      <input class="form-control" id="user" name="user" required>
    </div>
    <div class="form-group">
      <label for="cname">Room Name</label>
      <input  class="form-control" id="cname" name="cname" required>
    </div>
    <div class="form-group">
      <label for="pwd">Password</label>
      <input type="password"  class="form-control" id="pwd" name="pwd" required>
    </div>
    <button type="submit" class="btn btn-primary">Join</button>
  </form>
  <h3>Instructions</h3>
  <li>choose an username which doesn't exist</li>
  <li>Choose a room name , if the roomname already exist you will be logged into the room if you have typed the correct password</li>
  <li>choose a password (or) login with the password you have to enter the room</li>
</div>
</body>
