{% extends "layout.html" %}

{% block title %}
    login
{% endblock %}

{% block body %}
<h1 align="center">SignIn</h1>
<form align="center"  action="{{url_for('login')}}" method="post">
<h3>Enter Username</h3>
<input type="text" placeholder="username" name="username">
&nbsp;
<h3>Enter Password</h3>
<input type="password" placeholder="password"  name="password">
&nbsp;
<br>                                                       <button type="submit">Submit</button>
</form>
<h2><a href="signup">SignUp</a>to continue</h2>
{% endblock %}
